[uwsgi]
uid = {{ octavia_system_user_name }}
gid = {{ octavia_system_group_name }}

{% if octavia_install_method == 'source' %}
virtualenv = /openstack/venvs/octavia-{{ octavia_venv_tag }}
{% endif %}
wsgi-file = {{ octavia_bin }}/{{ item.wsgi_name }}
http-socket = {{ item.uwsgi_bind_address }}:{{ item.uwsgi_port }}

master = true
enable-threads = true
processes = {{ octavia_wsgi_processes }}
threads = {{ octavia_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = {{ octavia_wsgi_buffer_size }}
thunder-lock = true
logfile-chmod = 644
pidfile = /var/run/{{ item.service_name }}/{{ item.service_name }}.pid

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog:
